<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建模板</title>
    <link rel="stylesheet" href="./css/public.css"/>
    <link rel="stylesheet" href="./css/createModel.css"/>
</head>
<body>
<div class="content">
    <h4 class="Title">新建模板</h4>

    <div class="createModel">
        <span>创建模板名:</span><input type="text"/>
    </div>

    <div style="text-align: center">
        <button class="sendModel">确定</button>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/createModel.js"></script>`
</body>
</html>
