<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口调试</title>
    <link rel="stylesheet" href="/css/jquery.jsonview.css"/>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/moduleList.css"/>
</head>
<body>
        <%- include('template/top'); %>
        
<div class="content">
    <h4>host列表</h4>
    <ul>
        <% for(var i = 0; i < modules.length; i++) { %>
        <li>
            <label for=""><%= modules[i].host %></label>
            <button style="background-color: #ff4949;border-color: #ff4949;" onclick="deleteHost('<%= modules[i].id %>', this)">删除</button>
            <button onclick="window.location.href='/updateHost/<%= modules[i].id %>'">编辑</button>
        </li>
        <% } %>
    </ul>

    <div style="text-align: center">
        <button onclick="createHost()">新建Host</button>
    </div>
</div>

<div id="json"></div>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/jquery.jsonview.js"></script>
<script src="/js/hostList.js"></script>
</body>
</html>
