<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改api信息</title>
    <link rel="stylesheet" href="./css/public.css"/>
    <link rel="stylesheet" href="./css/infoModel.css"/>
    <link rel="stylesheet" href="./css/updateApiInfo.css"/>
</head>
<body>
        <%- include('template/top'); %>
        
    <div class="content">
        <h4 class="Title">修改api接口</h4>
        <div class="info">
            <span>api名称:</span><p></p>
        </div>
        <div class="info">
            <span>url:</span><p></p>
        </div>
        <div class="info">
            <span>方法:</span><p></p>
        </div>
        <div class="info">
            <span>body参数:</span><p></p>
        </div>
        <div class="info">
            <span>params参数:</span><p></p>
        </div>
        <div class="info">
            <span>query参数:</span><p></p>
        </div>
        <div style="text-align: center">
            <button class="sendInfo">确定</button>
        </div>
    </div>
</body>
</html>
