

.content {
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #333;
    background-color: #f8f8f8;
    border-radius: 3px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.content select{
    margin-top:10px;
}

.title{
    display: inline-block;
    width:80px;
    text-align: right;
    margin-right:20px;
    margin-bottom:10px;
}

.query,
.body,
.params{
    margin-bottom:10px;
}